.header, .footer{
    background-color: #282c32;
    padding: 20px;
    width: 100%;
    margin:0;
}
.headerText, .footerText {
    color: white;
    font-size: 26px;
}
.footerText{
    text-align: center;
}
.header {
    position: sticky;
    top: 0px;
    z-index: 100;
}
.main {
    margin: 0px;
}
.footer {
    position: fixed;
    bottom: 0px;
}