.header, .footer{
    width: 100%;
    background-color: #282c32;
    padding: 20px;
}
.header {
    position: fixed;
    top: 0px;
}
.headerText, .footerText {
    color: white;
    font-size: 26px;
}
.footerText{
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0px;
}